{% load static %}

<script src="{{ client_side_payment_processor.base_url }}/js/plugins/CardPlugin.js"></script>
<script type="text/javascript">
    window.CowpayConfig = {
        postUrl: "{% url 'cowpay:submit' %}",
        cowpayExecutionUrl: "{% url 'cowpay:execute' %}",
        receiptUrl: "{{ client_side_payment_processor.receipt_page_url }}",
        cowpayIframeToken: "{{ client_side_payment_processor.iframe_token }}",
    }
</script>
<script src="{% static 'js/views/cowpay.js' %}"></script>
